@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --ultraviolet: #0F0331;

    --gradient-blue: #5471FE;
    --gradient-pink: #FB86A0;
    --gradient-to-right: linear-gradient(to right, var(--gradient-blue), var(--gradient-pink));
    --gradient-color: linear-gradient(var(--gradient-blue), var(--gradient-pink));
    --gradient-color-reverse: linear-gradient(var(--gradient-pink), var(--gradient-blue));
    


    --dark-blue: #0D0D55;

    --font-white: #F5F5F7;
    --font-dark: #2D2D2D;

    --background-bar-card: #C4C4C4;
    --border-blue: #5771FC;

    --black: #0f0f0f;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--ultraviolet);
    width: 100%;
    color: var(--ultraviolet);

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--ultraviolet);
}

.text-white {
    color: var(--font-white);
}
