@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');

:root {
    --gradient-blue: #5471FE;
    --gradient-pink: #FB86A0;
}

* {
    margin: 0;
    padding: 0;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    margin-top: 20px;
    width: fit-content;
    border-radius: 20px 20px 20px 0;
    background: var(--gradient-to-right);
}

.header__container {
    
    width: 1114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    padding: 18px 51px 15px 61px;



}

.header__container__logo {

}

.header__container__nav {
    
}

.header__container__nav__list {
    display: flex;

    gap: 45px;

    list-style-type: none;
}

.header__container__nav__list__nav__item {

}

.header__container__nav__list__nav__item__link {
    text-decoration: none;
    color: black;

    font-size: 24px;
}

.header__container__profile {
}

